# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Experiments or scratch files
experiments/
tests/
scratch.py

# Env files
.env