version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: logistics_api
    ports:
      - "8000:8000"
    volumes:
      - ./simulation/data:/app/simulation/data
    restart: always

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: logistics_ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    volumes:
      - ./simulation/data:/app/simulation/data
    restart: always